<% if (title) { %>
    <h1><%= title %></h1>
<% } else { %>
    <h1>Update Your Account</h1>
<% } %>

<%- messages() %> 

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<form class="acct-update-form" action="/account/updateAccount" method="POST">
    <h2>Account Update</h2>
    
    <label for="account_firstname">First Name:</label>
    <input type="text" id="account_firstname" name="account_firstname" 
        value="<%= accountData.account_firstname %>" required>
    
    <label for="account_lastname">Last Name:</label>
    <input type="text" id="account_lastname" name="account_lastname" 
        value="<%= accountData.account_lastname %>" required>
    
    <label for="account_email">Email Address:</label>
    <input type="email" id="account_email" name="account_email" 
        value="<%= accountData.account_email %>" required>
    
    <input type="hidden" id="account_id" name="account_id" 
        value="<%= accountData.account_id %>">
    
    <button type="submit">Update Account</button>
</form>


<form class="pwd-update-form" action="/account/update_password" method="POST">
    <h2>Change Password</h2>

    <label for="account_password">New Password:</label>
    <input 
    type="password" 
    name="account_password" 
    id="password" 
    required
    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
    />


    <span class="password-span"
    >Password must be at least 12 characters long, contain at least 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character.</span>
    
   
    <input type="hidden" id="account_id" name="account_id" 
        value="<%= accountData.account_id %>">
        
        
        <span id="shw-password">Show Password</span>
    
    <button type="submit">Change Password</button>
</form>

<script src="/js/script.js"></script>